html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;

  * {
    box-sizing: border-box;
  }
}

.body {
  .modal-open {
    height: 100vh;
    overflow-y: hidden;
  }
}

p {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}
